body{
    margin:0;
    font-family:"Micorosoft YaHei","sans-serif";
    line-height:1;
}

input{
    font-size:inherit;
    font-family: inherit;
    margin:0;
    padding:0;
    border:none;
    background:none;
    outline:none;
}
textarea{
    /* 禁止用户重置元素大小 */
    resize:none;
    overflow:auto;
    padding:0;
}

/* 无衬线字体 sans-serif */

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight: normal;
                /* 继承 */
    font-size: inherit;
}
p,dl,dd{
    margin:0;
}
ul,ol,li{
    list-style:none;
    margin:0;
    padding:0;
}
img{
    vertical-align: top;
    border:none;
}
a{
    text-decoration: none;
    color:#333;
}

strong,b{
    font-weight: normal;
}
em,i{
    font-style: normal;
}
del{
    text-decoration: none;
}

table{
    border-collapse: collapse;
}
td,th{
    padding:0;
}

.layout,.clearfix{
    *zoom:1;
}
.layout:after,.clearfix:after{
    content:"";
    display: block;
    clear:both;

    height:0;
    font-size:0;
    line-height:0;
    overflow: hidden;
}